.AboutUs_text1 h1{
    text-align: center;
    font-size: 40px;
    color: #B2985E;
    margin-left: 29%;
    margin-right: 28%;
    line-height: 1;

}
.img {
    width: 1900px !important;
    margin-top: 0% !important;
    height: 1000px !important;
    position: relative;
}
.item h1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-align: center;
    

}
.AboutUs_text1 h2 {
    font-size: 20px;
    line-height: 1.3;
    color: #B2985E;
    margin-left: 10%;
    margin-right: 10% ;
    text-align: center;
}
.list_boxes {
    display: block;
    position: relative;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    object-fit: cover;
    top: 50px;
    margin-left: 1px;
    margin-right: 1px;
    line-height: 1.7;
    
    
    
}
.text_boxes p {
    /* margin-left: 75px;
    margin-right: 70px; */
    color: #8E98A7;
}

.text_boxes span {
    color: #B2985E;
    font-size: 30px;
    
    /* margin-left: 10px !important;
    margin-right: 1200px !important; */
    
}
.text_boxes.diamond {
    position: absolute;
    left: 320px;
    top: 47px;
    margin-left: 75px;
    margin-right: 1400px;
    
}
.text_boxes.safe {
    position: absolute;
    left: 780px;
    top: 50px;
    margin-left: 75px;
    margin-right: 840px;
}
.text_boxes.time {
    position: absolute;
    /* right: 500px; */
    left: 1180px;
    top: 36px;
    margin-left: 75px;
    margin-right: 1400px;
}
.text_boxes {
    justify-content: center;
    /* display: block; */

}
.slider1.single-item1 {
    top: 410px;
}
